/*
    Created on : 09/10/2016, 09:24:23
    Author     : Jefth Valentim
*/

*{margin: 0; padding: 0; list-style: none; }

a:hover{ text-decoration: none;}

.a a:hover{text-decoration: none; background: #000}

.list-inline { display: inline-block; float: right; margin-top: 15px;}

.list-inline a{ display: inline-block; padding: .5em; text-decoration: none; color: rgba(255, 255, 255, .8) !important; }

.cabecalho{background: rgba(90, 60, 180, 1); }

.rodape{ background: rgba(90, 60, 180, 1); padding: 1em 0 .5em; color: rgba(255, 255, 255, .8); font: italic 15px calibri; }

.active { background: rgba(0, 0, 0, .3); }

.message{ margin-top: 1em; }

input[type="radio"]{display: inline;}


/*      CONFIGURANDO O FORMULÁRIO DO LOGIN    */

.log-input input[type="email"],.log-input input[type="password"] {  font-size: 0.95em; padding: 10px 15px 10px 37px; width: 98%; color: #A8A8A8; outline: none; border: 1px solid #D3D3D3; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; background: #FFFFFF; margin: 0em 0em 1.5em 0em; border-style: solid; }

.log-input input.user { background: url(../img/user.png) no-repeat 8px 10px #fff; }

.log-input input.lock { background: url(../img/lock.png)no-repeat 8px 10px #fff; }


/*		CONFIGURANDO O FOOTER		*/

section.well{margin-bottom: 0; padding: 5em 0 !important;}

.recente, .alerta, .sobre{ padding: 5em 0; }

.alerta{ background: #eee; }

@media screen and (max-width: 768px){
	.text-right{ text-align: left; }
}

.flutua{position: relative;}

/*          WIZARD        */

#msform {
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 100%;
    margin: 0 ;

    /*stacking fieldsets above each other*/
    position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea {
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: rgba(90, 60, 180, 1);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 5px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 15px;
    color: #666;
    margin-bottom: 15px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 15px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    width: 33.33%;
    float: left;
    padding: 1em 0;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    color: #333;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: rgba(90, 60, 180, 1);
    color: white;
}


/*Panels*/

.panel-footer {
    background: #fff;
    border-top: 1px solid #eee;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 40px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 600px;
    padding-bottom: 30px;
}

/*==============================================
    DASHBOARD  STYLES
 =============================================*/

/* DASHBOARD ICONS */

.bk-clr-one { background-color: #B9B739; } .bk-clr-two { background-color: #F94C4C; } .bk-clr-three { background-color: #119c7e; }

.bk-clr-four { background-color: #b739b9; } .bk-clr-five { background-color: #739B9B; } .bk-clr-six { background-color: #C4CF94; }

.bk-clr-seven { background-color: #c7e119; } .bk-clr-eight { background-color: #9b9b73; }

.dashboard-div-icon {
    height: 75px;
    width: 75px;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-div-wrapper {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    color: #fff;
    margin-bottom: 50px;
}

h1{ display: inline-block; font-size: 2em }

article h1{ font-size: 1.3em }
.cor_branca{ color: rgba(255, 255, 255, .8); }

